<div class="post">
    <div class="post-container">
        <div class="post-header">
            <a href="{{url}}"><h2>{{title}}</h2></a>
            <span><time datetime="{{date format="YYYY-MM-DD"}}">{{date format="MMMM DD, YYYY"}}</time> &bull; {{reading_time}}</span>
        </div>
        <div class="post-content">
            {{content}}
        </div>
    </div>
</div>
